* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0; 
    padding: 0; 
    gap:1rem;
    margin-right: 5%;
    font-size: large;
  }

.nav {
  background-color: #89CFF0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.title {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
        font-size: 265%;
}

.title .good {
  color: #4285F4;
  
}

.title .good .g {
  color: #004D99; 
  margin-left: auto;
}

.title .good .o1 {
  color: #EA4335; 
}

.title .good .o2 {
  color: #FBBC05; 
}

.title .good .d {
  color: #1E5631; 
}

.title .doctor {
  color: #FFFFFF;
}



.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  
  align-items: center;
}

.nav li.active {
  color:#004D99;
}


.nav li:hover {
  color:#0e860e;
}

.logout-button {
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logout-button:hover {
  background-color: #c9302c;
  transform: translateY(-2px);
}

.logout-button:active {
  background-color: #ac2925;
  transform: translateY(2px);
}

